<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>login</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
  <h1>login</h1>  
  <div> 
    <script async src="https://telegram.org/js/telegram-widget.js?2" data-telegram-login="crystal_hello_bot" data-size="large" data-auth-url="http://telegram-login.dsh.li/auth" data-request-access="write"></script>  
  </div>
</body>


</html>